docs/n8n/workflow-whatsapp-outbound.json
{
  "name": "Execution OS - WhatsApp Outbound Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execution-os-outbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bc24396-0d13-40df-8f42-3ea61f42a001",
      "name": "Webhook Outbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -920,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst body = $json.body ?? $json;\nconst headerSecret = headers['x-webhook-secret'] ?? headers['X-Webhook-Secret'] ?? null;\nconst expectedSecret = ($env.N8N_OUTBOUND_SECRET ?? '').trim();\n\nif (expectedSecret && headerSecret !== expectedSecret) {\n  return [{\n    json: {\n      authorized: false,\n      statusCode: 401,\n      body: {\n        ok: false,\n        error: 'Unauthorized outbound webhook secret.'\n      }\n    }\n  }];\n}\n\nconst toRaw = String(body.to ?? '').trim();\nconst to = toRaw.replace(/\\D/g, '');\nconst message = String(body.message ?? '').trim();\n\nif (!to || to.length < 8 || !message) {\n  return [{\n    json: {\n      authorized: false,\n      statusCode: 422,\n      body: {\n        ok: false,\n        error: 'Payload inválido. Esperado: to + message.'\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    authorized: true,\n    to,\n    message,\n    source: String(body.source ?? 'execution-os'),\n    sentAt: String(body.sentAt ?? new Date().toISOString())\n  }\n}];"
      },
      "id": "ded6efaf-2f50-4ad2-84f2-2fecb1b868a4",
      "name": "Normalize Outbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccfe80d6-2636-4d3e-a22a-51c36d4e2ccc",
              "leftValue": "={{$json.authorized}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "21fd0248-8f4c-43dd-b517-3f886d7d98ff",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -470,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.to, text: $json.message } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8da237d7-f5b0-4ef7-bd6e-f8f34b1774c3",
      "name": "Send to Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -230,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    statusCode: 200,\n    body: {\n      ok: true,\n      provider: 'evolution',\n      response: $json\n    }\n  }\n}];"
      },
      "id": "773136f5-e5af-43f9-bc30-97ca4e6d35f2",
      "name": "Build Outbound Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode || 200}}"
        }
      },
      "id": "4cc89473-a71f-4a36-a42f-208e5f507573",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        190,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body || { ok: false, error: 'Request rejected' }}}",
        "options": {
          "responseCode": "={{$json.statusCode || 401}}"
        }
      },
      "id": "53d9894a-c012-433f-86b5-03f4e17f708e",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -230,
        180
      ]
    }
  ],
  "connections": {
    "Webhook Outbound": {
      "main": [
        [
          {
            "node": "Normalize Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Outbound": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Send to Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Evolution": {
      "main": [
        [
          {
            "node": "Build Outbound Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outbound Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12ebc1f8-8e4b-4a0b-9c5f-13de0adf5f0b",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
